/* ===== HERO ===== */
.hero {
  height: 250px;
  border-radius: 20px;
  background-image: url("../img/flowerbackgr.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero button {
  position: relative;
}

.primary-btn {
  padding: 15px 40px;
  border-radius: 30px;
  border: none;
  background: var(--primary);
  color: white;
  font-size: 18px;
  cursor: pointer;
}

.primary-btn:hover {
  background: var(--primary-dark);
}